include "/etc/nixos/dotfiles/niri/animation.kdl"
include "/etc/nixos/dotfiles/niri/autostart.kdl"
include "/etc/nixos/dotfiles/niri/keybinds.kdl"
include "/etc/nixos/dotfiles/niri/input.kdl"
include "/etc/nixos/dotfiles/niri/display.kdl"
include "/etc/nixos/dotfiles/niri/layout.kdl"
include "/etc/nixos/dotfiles/niri/rules.kdl"
include "/etc/nixos/dotfiles/niri/misc.kdl"
include "/etc/nixos/dotfiles/niri/noctalia.kdl"
