// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "eDP-1" {
    // Native resolution
    //mode "1920x1200@60"

    // Custom resolution and scale
    mode custom=true "3840x2400@60"
    scale 1.6 // (use 2 for HiDPI)
}
