layout {

    focus-ring {
        active-color   "#79dfd8"
        inactive-color "#1a0f2e"
        urgent-color   "#ebe9ee"
    }

    border {
        active-color   "#79dfd8"
        inactive-color "#1a0f2e"
        urgent-color   "#ebe9ee"
    }

    shadow {
        color "#0c0c1570"
    }

    tab-indicator {
        active-color   "#79dfd8"
        inactive-color "#139289"
        urgent-color   "#ebe9ee"
    }

    insert-hint {
        color "#79dfd880"
    }
}

recent-windows {
    highlight {
        active-color "#79dfd8"
        urgent-color "#ebe9ee"
    }
}
